
$color-main-dark: #003e71;
$color-positive-dark: #005d04;
$color-destructive-light: #cc3a3a;
$color-white-overlay: rgba(255,255,255,0.5);
$color-positive: #008505;
$color-main: #0052a5;
$color-main-surface: #6697C9;
$color-default-light-1: #737373;
$color-default-light-2: #bababa;
$color-brand-dark: #bb002a;
$color-default-light-3: #f6f7fa;
$color-destructive-dark: #7b0000;
$color-main-light: #3376ab;
$color-positive-light: #339d37;
$color-gray: #717171;
$color-alert-dark: #be5a00;
$color-alert: #ef7f00;
$color-default: #343A40;
$color-destructive: #ad0000;
$color-alert-light: #f29833;
$color-brand: #dc0032;
$color-white: #ffffff;
$font-size-medium: 24px;
$logo-size: 40px;
$font-size-medium-xs: 18px;
$font-size-medium-s: 20px;
$font-size-mobile-small: 18px;
$font-size-large: 36px;
$font-size-small-xs: 14px;
$font-size-mobile-medium-xl: 24px;
$font-size-mobile-small-s: 16px;
$font-size-mobile-medium: 22px;
$font-size-large-s: 32px;
$font-size-large-xl: 36px;
$font-size-mobile-medium-s: 20px;
$font-size-small: 16px;
$font-size-logo: 28px;
$font-size-mobile-large: 26px;
$font-size-medium-xl: 28px;
$font-size-small-s: 16px;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$icon-size-small-xs: 12px;
$icon-size-small: 16px;
$icon-size-medium: 18px;
$icon-size-large: 20px;
$icon-size-large-xl: 24px;
$icon-size-large-xxl: 40px;
$letter-spacing-s: 0.18px;
$letter-spacing-m: 0.2px;
$letter-spacing-l: 0.32px;
$letter-spacing-none: 0;
$line-height-small-s: 24px;
$line-height-medium: 38px;
$line-height-medium-xs: 27px;
$line-height-medium-s: 32px;
$line-height-mobile-small: 28px;
$line-height-large: 54px;
$line-height-mobile-medium-xl: 38px;
$select-option-height: 40px;
$line-height-small-xs: 21px;
$line-height-mobile-small-s: 26px;
$line-height-large-xl: 56px;
$line-height-mobile-medium: 34px;
$line-height-large-s: 50px;
$line-height-logo: 34px;
$line-height-mobile-medium-s: 32px;
$line-height-small: 26px;
$line-height-mobile-large: 40px;
$line-height-medium-xl: 44px;
$spacing-unit: 4px;
$input-suffix-spacing: 24px;
$border-radius: 4px;
$border-radius-radio: 24px;
$margin-radio: 2px;
$focus-outline: 2px solid #000000;
$stretched-link-pseudo-element: after;
$stretched-link-z-index: 1;
